@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Raleway', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}
.event-list{
    max-width: 600px;
    border: 3px solid white;
    border-radius: 25px;
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 12px;
}

.event-container{
    margin: 4px;
    display: flex;
    width: 100%;
    padding-left: 48px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.event-list .event-container{
    border-bottom: 2px solid white;
}

.event-list .event-container:last-child{
    border: 0;
}

.event-date{
    background-color: #457898;
    border-radius: 15px;
    padding: 4px 0px;
    margin: auto;
    padding: 12px;
}

.event-month{
    text-transform: uppercase;
}

.secondary-container{
    display: flex;
    align-items: center;
}

.calendar{
    max-width: 600px;
    min-width: 200px;

    margin-bottom: 60px;
    padding-bottom: 60px;
}